<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    </link>
    <title style="font-family:'Courier New', Courier, monospace">UnicolLAB</title>
    <link rel="shortcut icon" href="Logo.png">
    </link>
</head>

<body>
    <% include partial/nav.ejs %>
    <!-- Header -->
    <div class="container-field">
        <div class="row">
            <header class="text-center pt-5 mt-4 mb-4 col-md-12" , style="background-color:coral">
                <div class="container">
                    <h1 class="font-weight-light text-white">Meet the Team</h1>
                </div>
            </header>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-6">
                <div class="card border-0 shadow raisedbox">
                    <a href="https://www.linkedin.com/in/abinash-dutta-098030143/ " target="_blank">
                        <img src="abinash.JPG" class="card-img-top" >
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Abinash Dutta</h5>
                        <div class="card-text text-black-50">Developer</div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-xl-6">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</body>

</html>