<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <title style="font-family:'Courier New', Courier, monospace">UnicolLAB</title>
    <link rel="shortcut icon" href="Logo.png">
    </link>
</head>

<body background="signinbackground.jpg">

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                   <img class="center-img-top; mx-auto" src="Logo.png" width="72px"
                            height="72px">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-family:sans-serif">SIGN IN</h5>
                        <form class="form-signin" method="POST" action="/signin">
                            <div class="form-label-group my-4">
                                <input type="email" name="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus>
                            </div>
                            <div class="form-label-group mb-4">
                                <input type="password" name="inputPassword" class="form-control" placeholder="Password"
                                    required>
                            </div>
                            <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">Sign in</button>
                            <hr class="my-4">
                            <div class="lead">
                                <a href="signup">
                                    <strong>Do not have a account? Sign Up</strong>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>