<!DOCTYPE html>
<!-- saved from url=(0107)https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html -->
<html lang="zxx"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style class="vjs-styles-defaults">
      .vdo-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style>
	<title>Exclusive a Personal Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="keywords" content="Exclusive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
	<script type="text/javascript" async="" src="./profile_files/analytics.js.download"></script>
	<!-- //Meta tag Keywords -->
	<!-- Custom-Files -->
	<link rel="stylesheet" href="./profile_files/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="./profile_files/style.css" type="text/css" media="all">
	<!-- Style-CSS -->
	<link rel="stylesheet" href="./profile_files/font-awesome.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	<!-- Web-Fonts -->
	<link href="./profile_files/css" rel="stylesheet">
	<!-- //Web-Fonts -->
	<link rel="stylesheet" href="./profile_files/overlay_style.css">
<script id="_bsa_srv-CKYI627U_0" type="text/javascript" src="./profile_files/CKYI627U.json"></script><script id="_bsa_srv-CKYI653J_1" type="text/javascript" src="./profile_files/CKYI653J.json"></script><script defer="" async="" src="./profile_files/vdo.ai.js.download"></script><link id="_vdo_ads_css_5654_" rel="stylesheet" href="./profile_files/vdo.min.css"><script async="" src="./profile_files/js"></script><script id="_bsa_srv-CKYDL2JN_2" type="text/javascript" src="./profile_files/CKYDL2JN.json"></script></head>
<body style="">
<script src="./profile_files/jquery.min.js.download"></script><script src="./profile_files/monetization.js.download" type="text/javascript"></script>


	<!-- header -->
		<!-- navigation -->
		<div class="main-top">
		 <header>
			<div class="container-fluid px-lg-5 ">
				<nav class="mnu mx-auto">
						  <label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop">
							<ul class="menu">
								<li class="mr-lg-4 mr-3 active"><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html">Home</a></li>
								<li class="mr-lg-4 mr-3"><a href="#" class="scroll">Dashboard</a></li>
								<li class="mr-lg-4 mr-3"><a href="#interests" class="scroll">My Interests</a></li>
								 <li class="mr-lg-4 mr-3"><a href="#research_proposals" class="scroll">My Research Proposals</a></li>
								<li><a href="#contact" class="scroll">Contact Us</a></li>
							</ul>
				</nav>
			</div>
		</header>
		</div>
		<!-- //navigation-->

	<section class="banner-bottom" id="about">
		<div class="container">
            <div class="inner-sec">
                <div class="row middle-grids">
                    <div class="col-lg-4 advantage-grid-info1">
                        <div class="advantage_left1 text-center">
                            <img src="./profile_files/1.jpg" class="img-fluid" alt="">
                        </div>
                    </div> 
					 <div class="col-lg-8 advantage-grid-info">
                        <div class="advantage_left">
                            <h1 class="heading text-capitalize mb-sm-5 mb-4"><%=name%></h1>
                            <label for="user_bio" class="text-center"><%=addBio%></label>
							<a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#services" class="banner-button btn mt-5 scroll d-block">Learn about what i do</a>
						</div>
                    </div>
                </div>
            </div>
		</div>
    </section>

	<div class="agileits-services" id="interests">
		<div class="container">
		   <h2 class="heading text-capitalize" style="margin-top:-3rem"> Interests </h2>
		   <p class="subs mt-4">Add Your Interests to Let Others Know You Better</p>
            <div class="agileits-services-row row pt-md-5 pb-5  text-center">
                <div class="col-lg-12">
                    <div class="agileits-services-grids mt-lg-2 mt-md-2 mt-5 " style="height:25rem">
                        <h4 class="mt-0 mb-4">Consectetur</h4>
                        <ul class="list-group list-group-flush">
						    <li-icon type="plus-icon" role="img" aria-label="Add new position" onclick="on()" style="margin-right: -95%"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,13H13v8H11V13H3V11h8V3h2v8h8v2Z" class="large-icon" style="fill: currentColor"></path></svg></li-icon>

							<div id="overlay">
								<div style="margin-top: 15%; color:white"><b>Enter Interest</b></div>
							  	<form class="form-signin" method="POST" action="/profile">
								  	<div class="form-label-group mb-0">
	                               	 <input type="text" name="interests" class="form-control mx-auto" placeholder="Example- Machine Learning" style="width:30% ">
	                            	</div>
	                            	<br><br><br>
                            		<button type="button" class="btn btn-default" type="submit" onclick="off()" >Save</button>
                            	</form>	
							</div>

							<script>
							function on() {
							  document.getElementById("overlay").style.display = "block";
							}

							function off() {
							  document.getElementById("overlay").style.display = "none";
							}
							</script>
						    <li class="list-group-item" style="background-color: hsla(278, 66%, 73%, 0.3)"><%=interest%></li>
						 </ul>
                    </div>
                </div>
            </div>
    	</div>
		</div>

	<!-- works -->
	<section class="news text-center" id="research_proposals">
		<div class="container">
			 <h3 class="heading text-capitalize"> My Research Proposals </h3>
		   <p class="subs mt-4">Add Your Research Interets to Invite and Ask for Collaborations </p>
			<div class="row news-grids mt-5">
				<div class="col-lg-12 col-md-12 newsgrid1">
					<div class="newsgrid_tp new_grd" style="height:25rem">
							<div class="news_bt">
								<h4 class="mt-0 mb-4">Lorem ipsum</h4>
								<ul class="list-group list-group-flush">
								    <li class="list-group-item" style="background-color: hsla(278, 66%, 73%, 0.3)"><input type="file" name="myFile"></li>
								    <li class="list-group-item" style="background-color: hsla(278, 66%, 73%, 0.3)"><input type="file" name="myFile"></li>
								    <li class="list-group-item" style="background-color: hsla(278, 66%, 73%, 0.3)"><input type="file" name="myFile"></li>
							 	</ul>
							</div>
					</div>
				</div>	
		</section>
		<!-- //works -->
		<!---728x90--->
<!-- contact -->
	 <section class="wedo" id="contact">
		<div class="container">
			<h3 class="heading text-capitalize text-white text-center"> Contact </h3>
		   <p class="subs mt-4 text-center">Proin ac fermentum est. Cras mi ipsum, consectetur.</p>
			<div class="contact_grid_right mt-5 mx-auto text-center">
				<form action="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#" method="post">
					<div class="row contact_top">
						<div class="col-sm-6">
							<input type="text" name="Name" placeholder="Name" required="">
						</div>
						<div class="col-sm-6">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
					</div>	
						<input type="text" name="Name" placeholder="Name" required="">
						<textarea name="Message" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Message...&#39;;}" required="">Message...</textarea>
						<input type="submit" value="Send Message">
						<input type="reset" value="Clear Form">
						<div class="clearfix"> </div>
				</form>
			</div>
			<div class="cpy-right text-center">
			<div class="follow">
				<ul class="social_section_1info">
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-google"></span></a></li>
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-dribbble"></span></a></li>
					
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-vimeo"></span></a></li>
					<li><a href="https://demo.w3layouts.com/demos_new/template_demo/26-11-2018/exclusive-demo_Free/1097778733/web/index.html#"><span class="fa fa-linkedin"></span></a></li>
				</ul>
			</div>
				<p>© 2018 Exclusive. All rights reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts.</a>
				</p>
			</div>
		</div>
	</section>
	 <!-- //contact -->


<div id="_vdo_ads_player_ai_"></div><script id="_vdo_ads_deps_5654_" src="./profile_files/vdo.min.js.download"></script><script id="_vdo_ads_sdk_5654_" src="./profile_files/ima3.js.download"></script><script id="_vdo_ads_frame_5654_" src="./profile_files/adframe.js.download"></script></body></html>