#overlay {
  position: fixed;
  display: none;
  width: 60%;
  height: 60%;
  top: 22%;
  left: 22%;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}