<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home" style="color:coral">
        <b>UnicolLAB: Research, Collaborate, Develop</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home" style="color:coral"><b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color:coral"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:coral"><b>Services</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:coral"><b>Contact</b></a>
          </li>
          <li class="nav-item" style=" background-color:coral">
            <a class="nav-link" href="/signin" style="color: gainsboro">
              SignIn/SignUp
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>